/* 
    Created on : 17.02.2021, 10:12:01
    Author     : BirkeHeeren
*/

html
{
    overflow-y: scroll;
    background: tomato;
}

img
{
    border: 10px solid green;
}

a
{
    text-decoration: none;
    color: white;
}

.tomate
{
    border: none;
    position: fixed;
    z-index: -1;
    width: 400px;
    left: 0px;
}


#pizzas
{
    float: left;
    max-width: 55%;
}

.pizzarow
{
    width:500px;
    height:125px;
    float: left;
}

.pizzacol
{
    width:200px;
    float:left;
    padding: 5px;
}

#headerkonto
{
    height: 400px;
}

.titel
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 400px;
    height: 80px;
    color: azure;
}
.rechnung
{
    padding:20px;
    width:500px;
    background: white;
    float: right;
    border-radius: 15px;
}

.rechnung-links
{
    width:50%;
}

.leichte-linie
{
    padding:5px;
    border-bottom: 1px dotted silver;
}

.keine-linie
{
    padding:5px;
}

.preis
{
    padding:5px;
    width:100px;
    text-align: right;
}

.preis-linie
{
    padding: 5px;
    border-bottom: 1px solid black;
    text-align: right;
}

.unterlinie
{
    border-bottom: 1px solid black;
}

.input
{
    width: 30px;
}

.pizzaname
{
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.pizzaprice
{
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    color: green;
}

.weiter
{
    float: right;
    background-color: green;
    font-size: 16px;
    color: white;
    border-radius: 15px;
    margin-top: 10px;
    border: none;
    padding: 10px;
}

.kundespeichern
{
    background-color: green;
    font-size: 16px;
    color: white;
    border-radius: 15px;
    margin-top: 10px;
    border: none;
    padding: 10px;
}

.kundeanmelden
{
    background-color: green;
    font-size: 16px;
    color: white;
    border-radius: 15px;
    margin-top: 5px;
    border: none;
    padding: 10px;
}

.abmeldenbutton
{
    background-color: green;
    font-size: 16px;
    color: white;
    border-radius: 15px;
    margin-top: 10px;
    border: none;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.kontoloeschen
{
    background-color: red;
    font-size: 16px;
    color: white;
    border-radius: 15px;
    margin-top: 10px;
    border: none;
    padding: 10px;
}

.person
{
    width: 60%;
    padding: 20px;
}

#headercol
{
    max-width: 250px;
    min-width: 200px;
}

#inputcol
{
    max-width: 300px;
    min-width: 200px;
}

#buttoncol
{
    max-width: 60px;
    min-width: 60px;
}

#antwortcol
{
    max-width: 600px;
    min-width: 400px;
}

.person td
{
    padding: 5px;
    font-size: 20px;
    color: white;
    width: 220px;
}

.person td input
{
    padding: 5px;
    font-size: 20px;
    color: black;
    width: 300px;
}

.personheaderleft
{
    padding:7px;
    font-size: 16px;
    color: white;
}

.personheaderright
{
    padding:4px;
    font-size: 16px;
    color: white;
    float: right;
}

.personheaderleft input
{
    padding:5px;
    font-size: 16px;
    color: black;
    width: 200px;
}

.personheaderright input
{
    padding:5px;
    font-size: 16px;
    color: black;
    width: 200px;
}

.formformat
{
    display: inline ;
}

.warenkorbpizza
{
    text-align: right;
}

.footer
{
    font-family: sans-serif;
    font-size: 16px;
    clear: both;
    width: 96%;
    height: 96px;
    background-color: maroon;
    color: white;
    padding: 2%;
}

header
{
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    min-height: 65px;
    background-color: maroon;
    color: white;
    margin-bottom: 30px;
}

.headerlogin
{
    float: left;
    font-family: sans-serif;
    font-size: 16px;
    max-width: 950px;
    background-color: greenyellow;
    opacity: 0.7;
    color: green;
    padding-left: 30px;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-right: 30px;
    border: 5px dotted white;
}

.headerlogin a
{
    color: tomato;
}

.meldung
{
    display: table-cell;
     background-color: greenyellow;
    opacity: 0.7;
    color: green;
    font-family: sans-serif;
    font-size: 20px;
     padding: 20px;
     border: 5px dotted maroon;
}

.meldungouter
{
   
}